<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easy.man.mapper.ServicesMapper">

    <resultMap id="nodeMap" type="com.easy.man.entity.po.Nodes">
        <id property="nodeId" column="node_id" />
        <result property="nodeName" column="node_name" />
        <result property="hostName" column="host_name" />
        <result property="userName" column="user_name" />
        <result property="password" column="password" />
        <result property="ip" column="ip" />
        <result property="ipPublic" column="ip_public" />
    </resultMap>


    <resultMap id="gcInfoMap" type="com.easy.man.entity.po.ServiceGcDetail">
        <id property="gcinfoId" column="gcinfo_id" />
        <result property="s0c" column="S0C" />
        <result property="s1c" column="S1C" />
        <result property="s0u" column="S0U" />
        <result property="s1u" column="S1U" />
        <result property="ec" column="EC" />
        <result property="eu" column="EU" />
        <result property="oc" column="OC" />
        <result property="ou" column="OU" />
        <result property="mc" column="MC" />
        <result property="mu" column="MU" />
        <result property="ccsc" column="CCSC" />
        <result property="ccsu" column="CCSU" />
        <result property="ygc" column="YGC" />
        <result property="ygct" column="YGCT" />
        <result property="fgc" column="FGC" />
        <result property="fgct" column="FGCT" />
        <result property="gct" column="GCT" />
        <result property="createTime" column="create_time" />
    </resultMap>

    <resultMap id="nodeServiceVo" type="com.easy.man.entity.vo.ServiceVO">
        <id property="serviceId" column="service_id" />
        <result property="serviceName" column="service_name" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <association property="node" resultMap="nodeMap" />
    </resultMap>


    <resultMap id="serviceAndGcMap" type="com.easy.man.entity.vo.ServiceVO">
        <id property="serviceId" column="service_id" />
        <result property="serviceName" column="service_name" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
        <association property="gcDetails" resultMap="gcInfoMap" />
    </resultMap>


    <select id="listServiceByPage" resultMap="nodeServiceVo" parameterType="java.util.HashMap">
        select
          s.service_id,
          s.service_name,
          n.node_id,
          n.node_name,
          n.host_name,
          n.user_name,
          n.password,
          n.ip,
          n.ip_public,
          s.create_time,
          s.update_time
        from
          services s
        left join
          nodes n
        on
          s.node_id = n.node_id
        <if test="startRow != null">
            limit ${startRow}, ${pageSize}
        </if>
    </select>


    <select id="listServiceAndGcByPage" resultMap="serviceAndGcMap" parameterType="java.util.HashMap">
        select
            s.service_id,
            s.service_name,
            g.S0C,
            g.S1C,
            g.S0U,
            g.S1U,
            g.EC,
            g.EU,
            g.OC,
            g.OU,
            g.CCSC,
            g.CCSU,
            g.MC,
            g.MU,
            g.YGC,
            g.YGCT,
            g.FGC,
            g.FGCT,
            g.GCT,
            g.create_time,
            s.create_time,
            s.update_time
        from
          services s
        left join
          service_gc_detail g
        on
          s.service_id = g.service_id
        <where>
            <if test="nodeId != null">
                and s.node_id = ${nodeId}
            </if>
            <if test="startTime != null">
                and g.create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and g.create_time &lt; #{endTime}
            </if>
        </where>

        <if test="startRow != null and pageSize != null">
            limit ${startRow}, ${pageSize}
        </if>
    </select>

</mapper>
